<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title></title>
  </head>

  <body>

    <form action='/add-bookmark' method='post'>
      <label for='url'>Enter url</label>
      <input type='text' id='url' name="add_bookmark_url">
      <label for='title'>Enter title</label>
      <input type='text' id='title' name="add_bookmark_title">
      <input type='submit' name="Add Bookmark" value="Add Bookmark">
    </form>

    <h1>These are my Bookmarks...Behold them!</h1>

    <h3><%= Bookmarks.display_bookmarks %></h3>

    <ul>
      <% Bookmarks.get_bookmarks.each do |bookmark| %>
        <li class="bookmark" id="bookmark-<%= bookmark.id %>">
          <a href="<%= bookmark.url %>" target="_blank">
            <%= bookmark.title %>
          </a>
          <form action="/bookmarks/<%= bookmark.id %>" method="post">
            <input type='hidden' name='_method' value='DELETE'/>
            <input type="submit" value="Delete" />
          </form>
        </li>
      <% end %>
    </ul>
  </body>
</html>
